@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply transform
    transition
    focus:ring
    focus:ring-offset-2
    inline-block
    px-5
    py-3
    rounded-lg
    uppercase
    tracking-wide
    font-semibold
    text-sm
    duration-300
    sm:text-base;
  }
  .btn-primary {
    @apply focus:ring-indigo-500
    focus:ring-opacity-50
    active:bg-indigo-600
    bg-indigo-500
    hover:bg-indigo-400
    text-white
    shadow-lg
    hover:-translate-y-1;
  }
  .btn-secondary {
    @apply bg-gray-300 hover:bg-gray-200 text-gray-900;
  }
}
